<div>
  <posts-list
    [showPostId]="showPostId$ | async"
    [selectedPost]="selectedPost$ | async"
    [posts]="posts$ | async"
    [error]="error$ | async"
    (showPostIdToggled)="onShowPostIdToggled()"
    (postSelected)="onPostSelected($event)"
  ></posts-list>
  <div>
    <button (click)="toggleEdit()">Toggle Edit</button>
  </div>
  <post-detail
    *ngIf="showEdit != true; else edit"
    [selectedPost]="selectedPost$ | async"
  ></post-detail>
  <ng-template #edit>
    <post-edit></post-edit>
  </ng-template>
</div>
